{% extends 'visitor.html.twig' %}
{% block title %}
	{{ parent()}}
	- Image
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('album') }}
{% endblock %}
{% block body %}
 <turbo-frame id="the_frame_id">
	<main class="mt-4">
		<div class="container-fluid px-4 m-auto">

			<div class="row">
				<div class="col">
					<div class="d-flex justify-content-center align-items-center">
						<img src="{{ vich_uploader_asset(picture) }}" class="d-block vh-100 shadow-lg rounded-1" alt="image">
					</div>
				</div>
			</div>


			<div class="row mb-4">
				<div class="col">
					<div class="d-flex justify-content-end align-items-center">
						{% if app.user %}
							<a href="{{ path('app_album_show', {'id': picture.album.id}) }}" role="button" class="btn fw-bolder icon-link icon-link-hover icon-dark text-uppercase letter-spacing px-4 my-4">
								<span class="text-light pe-1">{% include "components/svg/_icon_backlink.svg.twig" %}</span>
								RETOUR
							</a>
						{% else %}
							<a href="{{ path('app_home_index') }}" role="button" class="btn fw-bolder icon-link icon-link-hover icon-dark text-uppercase letter-spacing px-4 my-4">
								<span class="text-light pe-1">{% include "components/svg/_icon_backlink.svg.twig" %}</span>
								RETOUR
							</a>
						{% endif %}
					</div>
				</div>
			</div>

		</div>
	</main>
</turbo-frame>
{% endblock %}