{% extends 'visitor.html.twig' %}
{% block title %}
	{{ parent()}}
	- Nouvel Album
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('album') }}
{% endblock %}
{% block body %}
	<main class="mt-4">
		<div class="container">
			<div class="row">
				<div class="m-auto col col-xl-10">
					<div class="d-flex justify-content-end align-items-center my-4 px-2">
						{{ include('album/_delete_form.html.twig') }}
					</div>
					<h1 class="fw-bolder">Modifier Album</h1>
					<div class="border border-primary border-1">
						<div class="m-1 p-1 p-xl-3 m-xl-3">
							{{ include('album/_form.html.twig', {'button_label': 'Modifier'}) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}