{% extends 'visitor.html.twig' %}
{% block title %}
	{{ parent()}}
	- Mes Albums
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('album') }}
{% endblock %}
{% block body %}
	<main class="mt-4">
		<div class="container-fluid px-4 m-auto">
			<div class="row">
				<div class="col border border-opacity-50 border-bottom-2 border-to-0 border-start-0 border-end-0 border-top-0 border-light mb-4">
					<h1 class="fw-bolder">Mes Albums</h1>
				</div>
			</div>
			<div class="text-center">
				<div class="row row-cols-1 row-cols-xl-3 row-cols-xxl-4 g-2">
					{% for album in albums %}
						<div class="col">
							<div class="p-2 m-2 shadow">
								<div class="card bg-transparent border-0">
									<div class="card-header text-center">
										<h2 class=" pt-3 card-title text-capitalize text-secondary overflow pb-2 fs-5">{{ album.name|u.truncate(20, '...') }}</h5>
									</div>
									<div class="img-container">
										<a href="{{ path('app_album_show', {'id': album.id}) }}">
											{% if album.pictureCover is not empty %}
												<img src="{{ vich_uploader_asset(album.pictureCover) }}" class="img-thumbnail img-fluid card-img-top" alt="album image">
											{% else %}
												<img src="{{ asset('build/images/placeholder/placeholder_album_250x150.svg') }}" class="img-thumbnail img-fluid card-img-top" alt="album image">
											{% endif %}
										</a>
									</div>
									<div class="card-body">
										<div class="d-flex justify-content-between align-items-center">
											<span class="text-capitalize">
												{% if album.isPrivate %}
													<span class="text-secondary pe-1">{% include "components/svg/_icon_eye.svg.twig" %}</span>
													public
												{% else %}
													<span class="text-light pe-1">{% include "components/svg/_icon_lock.svg.twig" %}</span>
													private
												{% endif %}
											</span>
											<span class="fw-lighter">
												{{ album.createdAt ? album.createdAt|date('d/m/Y') : '' }}
											</span>
										</div>
										<div class="text-end mt-2">
											<span class="text-capitalize fs-6 fw-light">{{ album.pictures|length ~ ' image(s)' }}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</main>
{% endblock %}