{% extends 'visitor.html.twig' %}
{% block title %}
	{{ parent()}}
	- Voir Images
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('album') }}
{% endblock %}
{% block body %}
<turbo-frame id="the_frame_id">
	<main class="mt-4">
		<div class="container-fluid px-4 m-auto">

			<div class="row">
				<div class="col">
					<div id="myCarouselImages" class="carousel slide carousel-fade mb-3 mt-5" data-ride="carousel">
						<div class="carousel-inner">
							{% for picture in album.pictures %}
								<div class="carousel-item {% if loop.first %} active {% endif %}">
									<div class="thumbnail d-flex justify-content-center align-items-center mx-1 px-1 mb-2">
										<a href="{{ path('app_picture_show', {'id': picture.id}) }}">
											<img src="{{ vich_uploader_asset(picture) }}" class="d-block w-100 shadow-lg rounded-1" alt="picture-{{ loop.index }} image content">
										</a>
									</div>
									<div class="caption text-center">
										<h5 class="fw-bold">{{ picture.title ?? '' }}</h5>
									</div>
								</div>
							{% endfor %}
						</div>

						<button class="carousel-control-prev" type="button" data-bs-target="#myCarouselImages" data-bs-slide="prev">
							<span class="carousel-control-prev-icon fs-2" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#myCarouselImages" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>

					</div>
				</div>
			</div>

			<div class="row  mb-4">
				<div class="col">
					<div class="d-flex justify-content-end align-items-center">
						<a href="{{ path('app_album_show', {'id': album.id}) }}" role="button" class="btn fw-bolder icon-link icon-link-hover icon-dark text-uppercase letter-spacing px-4 my-4">
							<span class="text-light pe-1">{% include "components/svg/_icon_backlink.svg.twig" %}</span>
							RETOUR
						</a>
					</div>
				</div>
			</div>

		</div>
	</main>
</turbo-frame>
{% endblock %}